<section>
    <h2>¿Por qué pasarte a Premium?</h2>
    <div>
        <img src="" alt="Descarga música">
        <p>Descarga música.</p>
        <p>Llévala siempre contigo.</p>
    </div>
    <div>
        <img src="" alt="Sin anuncio">
        <p>Sin anuncios.</p>
        <p>Disfruta de música sin interrupciones.</p>
    </div>
    <div>
        <img src="" alt="Escucha lo que quieras">
        <p>Escucha lo que quieras.</p>
        <p>Incluso en el móvil.</p>
    </div>
    <div>
        <img src="" alt="Salta todas las canciones que quieras">
        <p>Salta todas las canciones que quieras.</p>
        <p>Simplemente dale a siguiente.</p>
    </div>      
</section>
