/*Reseteo*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}
/*Reseteo*/

.header {
    background-color: black;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.logo{
    width: 120px;
}
.navlist {
    display:flex;
    gap: 20px;
}
.main {
    display: flex;
}



